<%# <h1>Folders#new</h1>
<p>Find me in app/views/folders/new.html.erb</p> %>

<h1>Nouveau dossier</h1>

<%= form_with model: @folder, local: true do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.submit "Créer" %>
  </div>
<% end %>
