<!DOCTYPE html>
<html lang="fr">
  <head>
    <title><%= content_for(:title) || "Mind Snap" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Mind Snap">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= yield :head %>

    <%# Favicons %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'favicon-16x16.png', rel: 'icon', type: 'image/png', sizes: '16x16' %>
    <%= favicon_link_tag 'favicon-32x32.png', rel: 'icon', type: 'image/png', sizes: '32x32' %>
    <%= favicon_link_tag 'apple-icon-180x180.png', rel: 'apple-touch-icon', sizes: '180x180' %>
    <%= favicon_link_tag 'android-icon-192x192.png', rel: 'icon', type: 'image/png', sizes: '192x192' %>
    <link rel="manifest" href="/site.webmanifest">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="padding-bottom: 3rem;" class="<%= content_for(:body_class) %>">
    <a href="#main-content" class="visually-hidden-focusable">Aller au contenu principal</a>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <div id="main-content" style="<%= content_for(:main_style) %>">
      <%= yield %>
    </div>
    <%= render "shared/conversation_actions" %>
    <%= render "shared/footer" %>
  </body>
</html>
